*{
    margin: 3px;
    background-color: #5F4B8BFF;
}

.heading{
    height: 8vh;
    line-height: 8vh;
    text-align: center;
    border: 2px solid #000000;
    border-radius: 10px;
    background-color: #E69A8DFF;
    box-shadow: 3px 3px 10px;
}

.menu{
    margin: 20px auto;
    width: 33%;
    height: 200px;
    border: solid;
    border-radius: 10px;
    text-align: center;
    background-color: #E69A8DFF;
    box-shadow: 3px 3px 10px rgb(60, 22, 136);
}

input{
    background-color: #a0b6f7;
    border-radius: 6px;
}

form, h3{
    background-color: #E69A8DFF;
}

#add{
    background-color: #E69A8DFF;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    box-shadow: 8px 8px 16px rgb(55, 33, 104);
}
.material-icons{
    background-color: #E69A8DFF;
}

#add:hover{
    box-shadow: 4px 4px 12px;
}