*{
    margin: 2px;
    background-color: #404040;
}

.heading{
    text-align: center;
    border-radius: 10px;
    background-color: #f2f261;
}

.menu{
    margin-top: 10px;
    width: 33%;
    height: 200px;
    border: solid;
    border-radius: 10px;
    text-align: center;
    background-color: #f2f261;
}

input{
    background-color: #a0b6f7;
    border-radius: 6px;
}

form, h3{
    background-color: #f2f261;
}

#add{
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
}
/* #add:hover{
    box-shadow: 5px 5px 9px #6fc27c, 0 5px 9px #6fc27c;
} */